<h1>List of Destinations</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Trip</th>
    <th>Description</th>
  </tr>

<% @destinations.each do |destination| %>
  <tr>
    <td><%= destination.name %></td>
    <td><%= link_to destination.trip.name, destination.trip %></td>
    <td><%= destination.description %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'See all Trips', trips_path, :class => 'btn btn-primary' %>
